@charset "UTF-8";

canvas {
    /* border: 1px solid #000000; */
    display: block;
}

body{
    margin: 0;
    height: 100vh;
}

.ribbon_divs{
    /* border: 1px solid #000000; */
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    float: left;
}

/* #div_canvas {
    width: 100%;
} */
